{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">   
    <link rel="stylesheet" href="{% static 'lista.css' %}">
</head>
    <title>Document</title>
</head>

<body>
    <h1>Lista de Estudiantes</h1>

    <a href="{% url 'crear_estudiante' %}">Nuevo Estudiante</a>

    <!-- En lista_estudiante.html -->
    <ul>
        {% for estudiante in estudiantes %}
        <li>
            {{ estudiante.nombre }} - {{ estudiante.edad }} - {{ estudiante.email }}-{{ estudiante.ciudad }}
            <a href="{% url 'editar_estudiante' estudiante.id %}">Editar</a>

            <!-- Botón con confirmación -->
            <form method="POST" action="{% url 'eliminar_estudiante' estudiante.id %}" style="display: inline;"
                onsubmit="return confirmDelete('{{ estudiante.nombre }}')">
                {% csrf_token %}
                <button type="submit" style="color: red; border: none; background: none; cursor: pointer;">
                    Eliminar
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <script>
        function confirmDelete(nombre) {
            return confirm(`¿Estás seguro de eliminar a ${nombre}?`);
        }
    </script>
</body>

</html>